p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img{
    vertical-align: top;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgba(33, 33, 33, 1);
}

a {
    color: rgba(33, 33, 33, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
    color: rgba(33, 150, 243, 1);
}

a:focus {
    color: rgba(33, 150, 243, 1);
}

button:hover {
    cursor: pointer;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
    font-size: 14px;
    margin: 0
}

.icon-container {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    margin-bottom: 30px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.hiden {
    display: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 50px;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navigation-bar {
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    display: block;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-icon {
    fill: rgba(117, 117, 117, 1);
    margin-right: 10px;
}

.adress {
    color: rgba(117, 117, 117, 1);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list-header {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.adress:hover {
    color: rgba(33, 150, 243, 1);
}

.adress:hover .adress-icon {
    fill: rgba(33, 150, 243, 1);
}

.email {
    margin-right: 50px;
}

.logo {
    margin-right: 43px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 1);
}

.color-blue {
    color: rgba(33, 150, 243, 1);
}




.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background: rgba(47, 48, 58, 1);
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.365;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.make-order {
    width: 216px;
    height: 50px;
    background: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    border-radius: 4px;
    border: 0px;
    margin: 30px auto 0;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}



.feature-list {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.feature-section{
    padding-bottom: 0;
}

.feature-list-container {}

.feture-list-icon {
    fill: rgba(33, 33, 33, 1);
}

.feature {
    width: 270px;
}

.feature-mean {
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}

.feature-title {
    font-size: 1.1em;
    line-height: 0.98;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 10px;
}




.portfolio-img {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.portfolio-img>li{
    height: 294px;
}

.portfolio {
    padding-bottom: 94px;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    padding-top: 94px;
}



.container-for-portfolio-text{
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 70px;
    background: linear-gradient(rgba(47, 48, 58, 0.8),rgba(47, 48, 58, 0.8));
}

.portfolio-text{
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 1.15em;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.portfolio>h2 {
    margin-bottom: 50px;
}




.team {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    background: rgba(245, 244, 250, 1);
}

.team>h2 {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
    width: fit-content;
    margin: 0 auto;
}

.part-of-team {
    background: #FFFFFF;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 0;
}

.team-soc-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.team-soc-list {
    width: 206px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 32px;
}

.team-soc-icon {
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
}

.team-soc-link:hover {
    background-color: rgba(33, 150, 243, 1);
}

.team-soc-link:hover .team-soc-icon {
    fill: rgba(255, 255, 255, 1);
}

.team-soc-link:focus {
    background-color: rgba(33, 150, 243, 1);
}

.team-soc-link:focus .team-soc-icon {
    fill: rgba(255, 255, 255, 1);
}

.team-member-name {
    margin: 30px auto 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
}

.team-member-post {
    margin: 10px auto 16px;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}


.regular-customer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.regular-customer-link {
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer-icon {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
}

.regular-customer-link:hover {
    border: 1px solid rgba(33, 150, 243, 1);
}

.regular-customer-link:hover .regular-customer-icon {
    fill: rgba(33, 150, 243, 1);
}

.regular-customer-link:focus {
    border: 1px solid rgba(33, 150, 243, 1);
}

.regular-customer-link:focus .regular-customer-icon {
    fill: rgba(33, 150, 243, 1);
}



.contacts {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    background: rgba(47, 48, 58, 1);
    height: 192px;
    padding-top: 60px;
    margin-bottom: -5px;
}

.contacts-container {
    display: flex;
    align-items: flex-start;
}

.footer {
    height: 31px;
    margin-bottom: 20px;
}

.footer-soc-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-soc-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-soc-icon {
    fill: rgba(255, 255, 255, 1);
}

.footer-soc-list {
    margin-top: 20px;
    margin-left: 0;
}

.footer-soc-container {
    margin-left: 70px;
}

.logo.footer {
    color: rgba(255, 255, 255, 1);
}

.address-footer {
    margin-bottom: 9px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-style: normal;
}

.email-tel {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-adress {
    color: rgba(255, 255, 255, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.map-adress:hover {
    color: rgba(255, 255, 255, 1);
}



.nav-button {
    min-width: 73px;
    min-height: 38px;
    padding: 6px 22px;
    background: rgba(245, 244, 250, 1);
    border-radius: 4px;
    border: 0px;
    color: rgba(33, 33, 33, 1);
    transition: bacground 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover {
    background: rgba(33, 150, 243, 1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                    0px 1px 2px rgba(0, 0, 0, 0.08), 
                        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: rgba(255, 255, 255, 1);
}

.nav-button:focus {
    background: rgba(33, 150, 243, 1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
}

.button-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}




.portfolio-list-of-projects {
    margin: 0 auto 94px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    gap: 30px;
    width: 1200px;
}

.portfolio-project-item{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06), 
                        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border-for-link{
    width: 368px;
    padding-top: 20px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-top: 0px;
}

.project-name {
    width: 322px;
    margin: 0 24px;



    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: rgba(33, 33, 33, 1);
}

.project-category {
    width: 322px;
    margin: 4px 24px 20px;



    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}

.nav-link.current {
    position: relative;
    top: 2px;
    color: rgba(33, 150, 243, 1);
}

.nav-link.current::after{
    display: block;
    position: relative;
    top: 29px;
    content: "";
    height: 4px;
    background-color: rgba(33, 150, 243, 1);
    border-radius: 2px;
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    width: 528px;
    min-height: 581px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close-svg{
    width: 11px;
    height: 11px;
    fill: rgba(0, 0, 0, 1);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}



.portfolio-item-slide-text-wrap{
    position: absolute;
    height: 100%;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-slide-text{
    display: block;
    margin: 63px 34px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.portfolio-project-item:hover .portfolio-item-slide-text-wrap{
    transform: translateY(0);
}

.portfolio-project-item:focus .portfolio-item-slide-text-wrap {
    transform: translateY(0);
}

.portfolio-project-item-wrap{
    position: relative;
    overflow: hidden;   
}